@page "/"

<PageTitle>Hotel management</PageTitle>
<div class="bounce">
	<h3>Welcome to the hotel management website!</h3>
	<p>Select what you want to do from sidebar</p>
	<img class="hotelimg" src="/Hotel.jpg" alt="Hotel" />
	<p style="font-size: 35px">All names & phones are imagined and only example</p>
	<p style="font-size: 50px">Karol Namieciński 110534</p>
</div>