table[b-318k9orieh] {
    transform: translate(34%,0);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

td[b-318k9orieh], th[b-318k9orieh] {
    padding: 15px 20px;
    text-align: center;
}

th[b-318k9orieh] {
    background-color: #ba68c8;
    color: peachpuff;
    font-family: 'Poppins';
    font-weight: 500;
    text-transform: uppercase;
}

tr[b-318k9orieh] {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Poppins';
}

tr:nth-child(even)[b-318k9orieh] {
    background-color: #eeeeee;
}
